#
# ███████╗ █████╗ ███████╗███████╗███╗   ██╗███████╗████████╗
# ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║██╔════╝╚══██╔══╝
# ███████╗███████║█████╗  █████╗  ██╔██╗ ██║█████╗     ██║
# ╚════██║██╔══██║██╔══╝  ██╔══╝  ██║╚██╗██║██╔══╝     ██║
# ███████║██║  ██║██║     ███████╗██║ ╚████║███████╗   ██║
# ╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚═╝  ╚═══╝╚══════╝   ╚═╝
#
# Plugin made by dejvokep (https://dejvokep.dev/).
#
# ► Need any help?
# Join the Discord server (https://discord.com/invite/BbhADEy) and we will more than happily help you :) (nonstop 24/7 bot support)
#
# Config version:
# - IMPORTANT >> Do NOT change unless you know what you are doing. Changing this might break the plugin.
config-version: 1
# Passphrase (equal to what you set on the proxy):
passphrase: ""
# Block server pings for unauthenticated requests:
# - IMPORTANT >> Might not be available on legacy versions of Paper servers, and it's forks. Check the console on early
#                startup to see if this feature is supported on your server.
block-pings: false
# Disconnect message sent to the player when the request is malformed or did not connect through the proxy server:
# - "\n" can be used for a new line.
disconnect-message: "&7[&6SafeNET&7] &cPlease connect with address: yourserver.com!\n\n&7&oIf you believe this is an error, contact server administrators."
# Command messages:
command:
  # If a player runs the command:
  console-only: "&7[&6SafeNET&7] Command is available only in the console."
  # If the sender uses an invalid format of a command:
  invalid-format: "&7[&6SafeNET&7] Invalid format! Please use &6/sn reload &7to reload the plugin."
  # If plugin configuration is being reloaded (/sn reload):
  reload: "&7[&6SafeNET&7] The plugin has been reloaded!"